body {
    background: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19pt;
    font-weight: 300;
    line-height: 1.75em;
    color: #888;
}
input, textarea, select {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19pt;
    font-weight: 300;
    line-height: 1.75em;
    color: #888;
}
h2 {
    font-size: 2em;
    letter-spacing: -1px;
}
h3 {
    font-size: 1.5em;
}
header {
    margin: 0 0 2em 0;
}
footer {
    margin: 2em 0 0 0;
}

strong, b {
    font-weight: 300;
    color: #666;
}
em, i {
    font-style: italic;
}
a {
    text-decoration: none;
    color: inherit;
    border-bottom: dotted 1px rgba(128, 128, 128, 0.5);
    -moz-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -webkit-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    -ms-transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    transition: color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
    outline: 0;
}
sub {
    position: relative;
    top: 0.5em;
    font-size: 0.8em;
}
sup {
    position: relative;
    top: -0.5em;
    font-size: 0.8em;
}
hr {
    border: 0;
    border-top: solid 1px #ddd;
}
blockquote {
    border-left: solid 0.5em #ddd;
    padding: 1em 0 1em 2em;
    font-style: italic;
}
.container {
    margin: 0 auto;
    max-width: 100%;
    width: 1400px;
}
section > :last-child,
section > .container, section:last-child, article > :last-child,
article > .container, article:last-child {
    margin-bottom: 0;
}
.row > section, .row > article {
    margin-bottom: 0;
}
.image {
    display: inline-block;
    border: 0;
}
.image img {
display: block;
width: 100%;
}
.image.avatar48 {
width: 48px;
height: 48px;
background: #f00;
}
.image.avatar48 img {
    width: 48px;
    height: 48px;
}
.image.fit {
display: block;
width: 100%;
}
.image.featured {
display: block;
width: 100%;
margin: 0 0 2em 0;
}
.image.left {
float: left;
margin: 0 2em 2em 0;
}
.image.centered {
display: block;
margin: 0 0 2em 0;
}
.image.centered img {
margin: 0 auto;
width: auto;
}
ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
  
}
ul.icons li {
    display: inline-block;
    padding-left: 0;
}
ul.icons a {
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border: 0;
}
form label {
    display: block;
    text-align: left;
    margin-bottom: 0.5em;
}
table {
    width: 100%;
    text-align: left;
}
table td {
    padding: 0.5em 1em 0.5em 1em;
}
table th {
    text-align: left;
    padding: 0.5em 1em 0.5em 1em;
    color: #fff;
    background: #222729 url("images/overlay.png");
}
table thead {
    background: #444;
    color: #fff;
}
table tfoot {
    background: #eee;
}
.icon {
text-decoration: none;
}
.icon:before {
    display: inline-block;
    font-family: FontAwesome;
    font-size: 1.25em;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon > .label {
    display: none;
}
#header {
display: -moz-flex;
display: -webkit-flex;
display: -ms-flex;
display: flex;
-moz-flex-direction: column;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-moz-justify-content: space-between;
-webkit-justify-content: space-between;
-ms-justify-content: space-between;
justify-content: space-between;
background: #222629 url("images/overlay.png");
box-shadow: inset -0.25em 0 0.25em 0 rgba(0, 0, 0, 0.1);
color: #fff;
height: 100%;
left: 0;
overflow-y: auto;
position: fixed;
text-align: right;
top: 0;
width: 375px;
}
#header .top {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
}
#header .bottom {
    -moz-flex-shrink: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    padding: 1.5em 0 0.75em 0;
}#header .icons {
    font-size: 0.8em;
    text-align: center;
}
#header .icons a {
color: #41484c;
-moz-transition: color 0.35s ease-in-out;
-webkit-transition: color 0.35s ease-in-out;
-ms-transition: color 0.35s ease-in-out;
transition: color 0.35s ease-in-out;
}
#header .icons a:hover {
    color: #fff;
}
#logo {
position: relative;
margin: 1.75em 1.5em 1.5em 1.5em;
min-height: 48px;
cursor: default;
}
#logo h1 {
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    line-height: 1em;
}
#logo p {
    position: relative;
    display: block;
    font-size: 0.6em;
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.25em;
    margin: 0.5em 0 0 0;
}
#logo .image {
    position: absolute;
    left: 0;
    top: 0;
}
#footer {
    margin-left: 375px;
    text-align: center;
    background-color: #dce3e2;
    padding: 3em 0 4em 0;
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.05), inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.025);
    font-size: 0.8em;
}
#main {
    margin-left: 375px;
}